<!doctype html>
<html>
<head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
</head>
<body>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyBKoruakcRqQhMP50WO1ro6bwdcMFg_3iY",
            authDomain: "wordytaire.firebaseapp.com",
            databaseURL: "https://wordytaire-default-rtdb.europe-west1.firebasedatabase.app",
            projectId: "wordytaire",
            storageBucket: "wordytaire.appspot.com",
            messagingSenderId: "1056878896581",
            appId: "1:1056878896581:web:4bb05a362fe8d1dba2d7ac",
            measurementId: "G-Q9CL0QPSYK"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

    <h1>Datastore and Firebase Auth Example</h1>

    <div id="firebaseui-auth-container"></div>

    <button id="sign-out" hidden=true>Sign Out</button>

    <div id="login-info" hidden=true>
    <h2>Login info:</h2>
    {% if user_data %}
    <dl>
        <dt>Name</dt><dd>{{ user_data['name'] }}</dd>
        <dt>Email</dt><dd>{{ user_data['email'] }}</dd>
        <dt>Last 10 visits</dt><dd>
        {% for time in times %}
            <p>{{ time['timestamp'] }}</p>
        {% endfor %} </dd>
    </dl>
    {% elif error_message %}
    <p>Error: {{ error_message }}</p>
    {% endif %}
    </div>
</body>
</html>